<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ab" version="0.1.22" targetFramework="net46" />
  <package id="Ab.Amazon" version="0.1.21" targetFramework="net46" />
  <package id="Ab.Amazon.Azure" version="0.1.25" targetFramework="net46" />
  <package id="Ab.Azure" version="0.1.34" targetFramework="net46" />
  <package id="AutoFixture" version="3.40.0" targetFramework="net46" />
  <package id="AutoFixture.AutoMoq" version="3.40.0" targetFramework="net46" />
  <package id="AutoFixture.Xunit2" version="3.40.0" targetFramework="net46" />
  <package id="AutoMapper" version="4.2.0" targetFramework="net46" />
  <package id="CsvHelper" version="2.13.5.0" targetFramework="net46" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net46" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net46" />
  <package id="FluentAssertions" version="4.2.2" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Web" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.DocumentDB" version="1.5.2" targetFramework="net46" />
  <package id="Microsoft.Azure.DocumentDB.TransientFaultHandling" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.0.1" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net46" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net46" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>